Implementation/MedicalRemoteCommunicationSupport/.vs
Implementation/MedicalRemoteCommunicationSupport/MedicalRemoteCommunicationSupport/obj
Implementation/MedicalRemoteCommunicationSupport/MedicalRemoteCommunicationSupport/bin
Implementation/MedicalRemoteCommunicationSupportView/MedicalRemoteCommunicationSupport/.vscode
Implementation/MedicalRemoteCommunicationSupportView1/MedicalRemoteCommunicationSupport/.vscode
Implementation/MedicalRemoteCommunicationSupport/.idea/.idea.MedicalRemoteCommunicationSupport/.idea
