Implementation/MedicalRemoteCommunicationSupport/.vs
Implementation/MedicalRemoteCommunicationSupport/MedicalRemoteCommunicationSupport/obj
Implementation/MedicalRemoteCommunicationSupport/MedicalRemoteCommunicationSupport/bin
