<mat-drawer-container class="fillParent" autosize>
    <mat-drawer class="sidenav" opened mode="side">
      <div class="flexVertical">
        <h2 *ngIf="user">{{ user.fullName }}</h2>
        <h2 *ngIf="!user">Menu</h2>
        <mat-divider></mat-divider>
        <mat-action-list *ngIf="!user">
          <mat-list-item routerLink="login">Login</mat-list-item>
          <mat-list-item routerLink="register" [state]="{ isDoc: 0 }"
            >Register as patient</mat-list-item
          >
          <mat-list-item routerLink="register" [state]="{ isDoc: 1 }"
            >Register as doctor</mat-list-item
          >
        </mat-action-list>
        <mat-action-list *ngIf="user">
          <mat-list-item class="warn" (click)="logout()">Logout</mat-list-item>
          <mat-list-item routerLink="../appointments">Appointments</mat-list-item>
        </mat-action-list>
        <ng-container *ngIf="user && !user.isDoctor">
          <mat-action-list>
            <mat-list-item routerLink="../doctor-overview">Doctors</mat-list-item>
          </mat-action-list>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Created topics
            </mat-expansion-panel-header>
            <mat-action-list>
              <mat-list-item *ngFor="let topic of user.createdTopics" [routerLink]="['..','topic', topic.id]">{{ topic.title }}</mat-list-item>
            </mat-action-list>
          </mat-expansion-panel>
        </ng-container>
        <ng-container *ngIf="user && user.isDoctor">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Patient requests
            </mat-expansion-panel-header>
            <mat-selection-list>
              <mat-list-item *ngFor="let request of user.requests">
                <div class="flexSpaced fillParent centerContent">
                  {{ request.fullName }}
                  <div class="flex centerContent marginLeft-10">
                    <mat-icon color="primary" (click)="acceptRequest(request.username)">check</mat-icon>
                    <mat-icon color="danger" (click)="rejectRequest(request.username)">close</mat-icon>
                  </div>
                </div>
              </mat-list-item>
            </mat-selection-list>
          </mat-expansion-panel>
        </ng-container>
      </div>
    </mat-drawer>
    <p class="toolbar">
      <mat-toolbar class="flexSpaced" color="primary">
        <span class="pointer" routerLink="">{{ appName }}</span>
        <button
          *ngIf="user && chatContainer"
          mat-icon-button
          (click)="chatContainer.toggle()"
          aria-label="icon-button with add icon"
        >
          <mat-icon matBadge="." matBadgeColor="warn" [matBadgeHidden]="!showBadge">chat_bubble_outline</mat-icon>
        </button>
      </mat-toolbar>
    </p>
    <main class="flex fillParent">
        <div class="flexVertical centerContent control fillParent">
            <h2 class="controlItem">Filters</h2>
            <mat-form-field *ngIf="user?.isDoctor">
                <input matInput placeholder="Patient" [(ngModel)]="criteriaBind.patient" appearance="fill" />
            </mat-form-field>
            <mat-form-field *ngIf="!user?.isDoctor">
                <input matInput placeholder="Doctor" [(ngModel)]="criteriaBind.doctor" appearance="fill" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Scheduled Date</mat-label>
                <mat-select [(ngModel)]="criteriaBind.scheduledTime">
                  <mat-option *ngFor="let pair of allAppointments | keyvalue" [value]="pair.key">{{ pair.key }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" class="topBotMarg-10" (click)="applyFilters()">Apply filters</button>
                <button mat-raised-button color="primary" class="topBotMarg-10" (click)="clearFilters()">Clear</button>
            </div>
        </div>
        <div class="flexVertical centerContent fillParent doctorItem topicItem">
            <div class="centerContent flex">
              <h2 class="controlItem">Appointments</h2>
              <button *ngIf="user?.isDoctor"
                      mat-icon-button 
                      matTooltip="Register appointment" 
                      matTooltipPosition="right"
                      (click)="openRegisterAppointmentDialog()">
                <mat-icon color="primary">add</mat-icon>
              </button>
            </div>
            <mat-expansion-panel class="appointmentItem" *ngFor="let pair of appointmentsByDates | keyvalue">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ pair.key }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list *ngIf="pair.value.length != 0">
              <mat-list-item *ngFor="let appointment of pair.value">
                <div class="flex fillParent">
                  <p class="selfVerticalAlign spaceRight" *ngIf="user?.isDoctor"><b>{{ getTimeFromIsoDateString(appointment.scheduledTime) }}</b> - {{ appointment.patient.fullName }}</p>
                  <p class="selfVerticalAlign spaceRight" *ngIf="!user?.isDoctor"><b>{{ getTimeFromIsoDateString(appointment.scheduledTime) }}</b> - {{ appointment.doctor.fullName }}</p>
                  <mat-icon class="selfVerticalAlign" color="warn" (click)="deleteAppointment(appointment)">close</mat-icon>
                </div>
              </mat-list-item>
            </mat-list>
            </mat-expansion-panel>
        </div>
    </main>
    <mat-drawer *ngIf="user" #chatContainer class="chatPanel" mode="side" position="end">
      <div class="flexVertical">
        <h2>Chat</h2>
        <mat-accordion class="fillParent" multi>
          <ng-container *ngIf="!user.isDoctor">
            <app-chat *ngFor="let chat of user.myDoctors"
            [chatUsername]="chat.username"
            [chatTitle]="chat.fullName"
            [user]="user"
            (notificationEvent)="messageArrived()"></app-chat>
          </ng-container>
          <ng-container *ngIf="user.isDoctor">
            <app-chat *ngFor="let chat of user.patients"
            [chatUsername]="chat.username"
            [chatTitle]="chat.fullName"
            [user]="user"
            (notificationEvent)="messageArrived()"></app-chat>
          </ng-container>
        </mat-accordion>
      </div>
    </mat-drawer>
  </mat-drawer-container>