.flexVertical {
    display: flex;
    flex-direction: column;
}

.fillParent {
    height: 100%;
    width: 100%;
}

.container {
    min-width: fit-content;
    min-height: fit-content;
    max-width: 600px;
    max-height: 500px;
}

.centerContent {
    justify-content: center;
    align-items: center;
}

mat-card-footer {
    margin: 5px;
}