<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Dr. Doktor Doktoric
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="flexVertical fillParent">
        <div class="chat">
            <div class="flexVertical" *ngFor="let message of messages">
                <p *ngIf="message.yours" class="selfAlignEnd message">{{ message.message }}</p>
                <p *ngIf="!message.yours" class="message">{{ message.message }}</p>
            </div>
        </div>
        <div class="flex centerContent">
            <mat-form-field class="fillParentWidth">
                <input type="text" matInput>
            </mat-form-field>
            <button mat-icon-button><mat-icon color="primary">send</mat-icon></button>
        </div>
    </div>
</mat-expansion-panel>